.menu
	svg.menu__logo(role='img')
		use(xlink:href='svg-symbols.svg#shape')
	nav.menu__nav
		ul.menu__list
			li.menu__item
				a(href="#home") Home
			li.menu__item
				a(href="#work") Work
			li.menu__item
				a(href="#services") Services
			li.menu__item
				a(href="#vision") Vision
