.menu
	max-width 1714px
	padding-top 52px
	padding-left 15px
	padding-right 15px
	margin 0 auto
	display flex
	justify-content space-between
	align-items center
	&__logo
		width 24px
		height 30px
	&__list
		width 393px
		display flex
		justify-content space-between
		font-weight 600
		font-size 10px 
		letter-spacing 2.5px
		text-transform uppercase
		color #fff
		
@media screen and (max-width: 480px)
	.menu
		&__list
			width 245px