// @import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext,latin-ext)

@font-face
   font-family Internacional
   font-style normal
   src url(../fonts/Internacional_Bold.otf)
   
@font-face
   font-family Internacional
   font-style normal
   src url(../fonts/Internacional_UltraLight.otf)