section.footer#footer
	.container
		.row.flex-column.flex-lg-row.juctify-content-lg-between
			.col-12.col-lg-8
				ul.footer__list.footer__info
					li.footer__item
						a(href="#") Privacy Policy
					li.footer__item
						a(href="#") cookies
					li.footer__item
						a(href="#") Code of ethics
			.col-12.col-lg-4
				ul.footer__list.footer__socials
					li.footer__item
						a(href="#") Behance
					li.footer__item
						a(href="#") Facebook
