section.contacts#contacts
	.container
		.row
			.col-lg-7.col-xl-6
				p.contacts__title.contacts_bold contact
				h2.contacts__caption.contacts_bold
					| Contact us –
					br
					| warm response guaranteed
				.contacts__info
					.contacts__mail.contacts_bold
						a(href="mailto:hello@ester.co") hello@ester.co
					.contacts__phone
						span If you prefer the phone,
						span give us a call.
						a.contacts_bold(href="tel:+3725640000") +372 564 00 00
		.row
			.col-12
				p.contacts__adress Ester Digital at Pae 21, Tallinn, Estonia 11415


