
<section class="contacts" id="contacts">
  <div class="menu">
    <svg class="menu__logo" role="img">
      <use xlink:href="svg-symbols.svg#shape"></use>
    </svg>
    <nav class="menu__nav">
      <ul class="menu__list">
        <li class="menu__item"><a href="#home">Home</a></li>
        <li class="menu__item"><a href="#work">Work</a></li>
        <li class="menu__item"><a href="#services">Services</a></li>
        <li class="menu__item"><a href="#vision">Vision</a></li>
      </ul>
    </nav>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-6">
        <p>contact</p>
        <h2 class="contacts__title">Contact us – warm response guaranteed</h2>
        <div class="contacts__info">
          <div class="contacts__mail"><a href="mailto:hello@ester.co">hello@ester.co</a></div>
          <div class="contacts__phone"><a href="tel:+3725640000"> </a></div>
        </div>
      </div>
    </div>
  </div>
</section>